@import '../../shared/scss/shared-color.scss';
@import '../../shared/scss/shared-mixin.scss';

@mixin show {
  :host {
    &.show {
      .calculation-result {
        &-container {
          visibility: unset;
        }
        &-title {
          &-container {
            display: block;
          }
        }
        &-content {
          &-container {
            display: block;
          }
        }
      }
      height: 80vh;
    }
  }
}

:host {
  @include sharedHostBlock();
  height: 0;
}

@mixin matInput {
  :host ::ng-deep .mat-form-field-infix {
    width: 200px;
  }
}

.calculation-result {
  &-container {
    @include sharedContainerBlock();
    visibility: hidden;
  }

  &-title {
    &-container {
      @include sharedTitleBlock();
      display: none;
    }
  }
  &-content {
    &-container {
      display: none;
      margin-bottom: 1.5rem;
    }
  }
  &-summary {
    &-container {
      background-color: $shared-green-light-color;
      border-radius: 46px;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 80%;
    }
    &-title {
      color: $shared-grey-dark-color;
      font-size: 1.25rem;
    }
  }
}

@include show();
@include matInput();
