@import '../../shared/scss/shared-color.scss';
@import '../../shared/scss/shared-mixin.scss';


@mixin selectedOption {
  .selected {
    .sport-fequency-option-icon {
      border-color: #FFF;
      background-color: $shared-green-light-color;
      box-shadow: 0 0 0 2px $shared-green-light-color;
    }
  }
}

@mixin iconStyle {
  .sport-fequency-person-icon {
    &.first {
      opacity: .9;
    }
    &.second {
      opacity: .8;
    }
    &.third {
      opacity: .7;
    }
    &.fourth {
      opacity: .6;
    }
    &.fifth {
      opacity: .5;
    }
  }
}

:host {
  @include sharedHostBlock();
}

.sport-fequency {
  &-container {
    @include sharedContainerBlock();
  }
  &-title-container {
    @include sharedTitleBlock();
  }
  &-content-container {
    @include contentContainer();
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }
  &-right {
    &-container {
      color: $shared-grey-dark-color;
      display: flex;
      flex-direction: column;
    }
  }
  &-option {
    align-items: center;
    display: flex;
    height: 28px;
    &-icon {
      border: 2px solid transparent;
      box-shadow: 0 0 0 2px $shared-grey-dark-color;
      border-radius: 50%;
      height: 14px;
      margin-right: 8px;
      width: 14px;
    }
  }
  &-person-icon {
    align-items: center;
    background-color: $shared-grey-dark-color;
    border-radius: 8px;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    font-size: 2rem;
    height: 100px;
    justify-content: center;
    width: 60px;
  }
  &-bottom {
    &-container {
      height: 200px;
      margin-top: 2rem;
      width: 100%;
    }
  }
}

@include selectedOption();
@include iconStyle();
