<div class="fatr-asker-container" #fatrAsker>
  <div class="fatr-asker-title-container">
    <span>你的體脂肪率是多少?</span>
  </div>
  <div class="fatr-asker-content-container">
    <div *ngFor="let option of viewModel.currentGenderOptions; let index = index"
      class="fatr-asker-option-container"
      #genderOption
      (click)="selectOption(index)"
    >
      <img [src]="option.imageUrl" class="fatr-asker-option-image">
      <div class="fatr-asker-option-text-container">
        <img [src]="viewModel.selectedIcon" class="fatr-asker-selected-icon">
        <img [src]="viewModel.unselectedIcon" class="fatr-asker-unselected-icon">
        <span>{{ option.text }}</span>
      </div>

    </div>
  </div>
  <div class="fatr-asker-bottom-container">
    <app-td-button (click)="submit()">下一步</app-td-button>
  </div>

</div>
