@import '../../shared/scss/shared-mixin.scss';
@import '../../shared/scss/shared-color.scss';

:host {
  @include sharedHostBlock();
}

.goal-selection {
  &-container {
    @include sharedContainerBlock();
  }
  &-title-container {
    @include sharedTitleBlock();
  }
  &-content {
    &-container {
      @include contentContainer();
      height: 40%;
      justify-content: center;
    }
    &-preview-image {
      align-items: center;
      background-color: $shared-blue-light-color;
      display: flex;
      height: 120px;
      margin-right: 1rem;
      text-align: center;
      width: 80px;
    }
  }
  &-bottom {
    &-container {
      height: 200px;
      margin-top: 2rem;
      width: 100%;
    }
  }
}
