@import '../../shared/scss/shared-mixin.scss';
@import '../../shared/scss/shared-color.scss';

@mixin selectedStyle {
  .selected {
    &.goal-selection-content-item-container {
      color: $shared-green-light-color;
    }
    .goal-selection-content-item {
      background-color: $shared-green-light-color;
      box-shadow: unset;
      transform: scale(.95);
    }
  }
}

:host {
  @include sharedHostBlock();
}

.goal-selection {
  &-container {
    @include sharedContainerBlock();
  }
  &-title-container {
    @include sharedTitleBlock();
  }
  &-content {
    &-container {
      @include contentContainer();
      justify-content: space-evenly;
    }
    &-item {
      border: 1px solid $shared-grey-dark-color;
      border-radius: 4px;
      box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
      height: auto;
      padding-bottom: 100%;
      margin-bottom: .5rem;
      width: 100%;
      &-container {
        color: $shared-grey-dark-color;
        cursor: pointer;
        display: flex;
        flex-basis: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@include selectedStyle();
