@import '../../shared/scss/shared-color.scss';
@import '../../shared/scss/shared-mixin.scss';

@mixin radioButton {
  app-td-radio-button-group ::ng-deep {
    .td-radio-button-group-option {
      margin-bottom: .25rem;
    }
  }
}

:host {
  @include sharedHostBlock();
}

.gym {
  &-container {
    @include sharedContainerBlock();
  }
  &-title {
    &-container {
      @include sharedTitleBlock();
    }
  }
  &-content {
    &-container {
      @include contentContainer();
      align-items: unset;
      flex-direction: column;
      height: auto;
      justify-content: center;
      margin-bottom: 1rem;
      width: 60%;
    }
  }
}

@include radioButton();
