@import '../../shared/scss/shared-color.scss';
@import '../../shared/scss/shared-mixin.scss';

:host {
  @include sharedHostBlock();
}

.gym {
  &-container {
    @include sharedContainerBlock();
  }
  &-title {
    &-container {
      @include sharedTitleBlock();
    }
  }
  &-content {
    &-container {
      @include contentContainer();
      align-items: unset;
      flex-direction: column;
      height: 30%;
      justify-content: center;
      margin-bottom: 1rem;
      width: 65%;
    }
  }
}
