@import '../../shared/scss/shared-color.scss';

@mixin sharedHostBlock() {
  display: flex;
  height: 24rem;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

@mixin sharedContainerBlock {
  align-items: center;
  border-radius: 16px;
  box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 80%;
}

@mixin sharedTitleBlock {
  color: $shared-grey-dark-color;
  font-size: 1.25rem;
  margin: 1rem;
}

@mixin contentContainer {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
