<section class="calculator-container">
  <div class="calculator-title-container">
    <span>計算每日熱量及營養素攝取</span>
  </div>

  <app-gender-selection
    [submitCallback]="scrollMoveDirective.moveToElement.bind(scrollMoveDirective, {elementRef: bmrAskerComponent.bmrAskerElm})"
  ></app-gender-selection>
  <app-bmr-asker
    [submitCallback]="scrollMoveDirective.moveToElement.bind(scrollMoveDirective, {elementRef: fatrAskerComponent.fatrAskerElm})"
  ></app-bmr-asker>
  <app-fatr-asker
  [submitCallback]="scrollMoveDirective.moveToElement.bind(scrollMoveDirective, {elementRef: goalSelectionComponent.goalSelectionElm})"
  ></app-fatr-asker>
  <app-goal-selection
    [submitCallback]="scrollMoveDirective.moveToElement.bind(scrollMoveDirective, {elementRef: sportFequencyComponent.sportFequencyElm})"
  ></app-goal-selection>
  <app-sport-fequency
    [submitCallback]="scrollMoveDirective.moveToElement.bind(scrollMoveDirective, {elementRef: userInfoComponent.userInfoElm})"
  ></app-sport-fequency>
  <app-user-info
    [submitCallback]="scrollMoveDirective.moveToElement.bind(scrollMoveDirective, {elementRef: allergyComponent.allergyElm})"
  ></app-user-info>
  <app-allergy
    [submitCallback]="scrollMoveDirective.moveToElement.bind(scrollMoveDirective, {elementRef: sportFequencyComponent.sportFequencyElm})"
  ></app-allergy>
  <app-calculation-result
    [submitCallback]="submit.bind(this)"
    [result]="calculatorService.tdeeResult$.value"
  ></app-calculation-result>

  <!-- <div class="calculator-basic-info-container">
    <span class="calculator-basic-info-title">基本資料</span>
    <div class="calculator-basic-info-inner-container">
      <form class="calculator-form-container">
        <div class="calculator-radio-container">
          <span>我的基礎代謝率：</span>
          <app-td-radio-button-group
            [options]="viewModel.bmrRadioOptions"
            (optionChange)="bmrOptionChange($event)"
            #knowBmr
          ></app-td-radio-button-group>
        </div>
        <ng-container *ngIf="viewModel.isUnknown">
          <div class="calculator-radio-container">
            <span>性別：</span>
            <app-td-radio-button-group [options]="viewModel.sexRadioOptions"></app-td-radio-button-group>
          </div>
          <app-td-input-formcontrol class="calculator-form-item">年齡</app-td-input-formcontrol>
          <app-td-input-formcontrol class="calculator-form-item">身高(公分)</app-td-input-formcontrol>
          <app-td-input-formcontrol class="calculator-form-item">體重(公斤)：</app-td-input-formcontrol>
          <app-td-input-formcontrol class="calculator-form-item">體脂肪率(％)：</app-td-input-formcontrol>
        </ng-container>
      </form>
      <form class="calculator-bmr-container"
        [formGroup]="viewModel.formGroup.basicBmr"
      >
        <app-td-input-formcontrol
          [option]="viewModel.basicBmrInputOption"
          formControlName='basicBmr'
        >
          基礎代謝率(kcal/day)
        </app-td-input-formcontrol>
      </form>
      <form class="calculator-dropdown-container"
        [formGroup]="viewModel.formGroup.dropdown"
      >
        <app-td-dropdown [argument]="viewModel?.feqDropdownArg"
          [range]="viewModel?.feqDropdownRange"
          formControlName="feq"
        ></app-td-dropdown>
        <app-td-dropdown [argument]="viewModel?.goalDropdownArg"
          [range]="viewModel?.goalDropdownOptions"
          formControlName="goal"
        ></app-td-dropdown>
        <app-td-dropdown [argument]="viewModel?.extraCalDropdownArg"
          [range]="viewModel?.extraCalDropdownOptions"
          formControlName="extraCal"
        ></app-td-dropdown>
      </form>
    </div>
  </div>

  <app-td-button (click)="calculateTDEE()">計算</app-td-button>

  <div class="calculator-result-container">
    <span class="calculator-result-title">您的目標</span>
    <div class="calculator-result-inner-container">
      <app-td-input-formcontrol [option]="viewModel.totalKcalInputOption">總熱量消耗(kcal/day)</app-td-input-formcontrol>
      <app-td-input-formcontrol [option]="viewModel.goalKcalInputOption">目標攝取熱量(kcal/day)</app-td-input-formcontrol>
      <app-td-input-formcontrol [option]="viewModel.prInputOption">蛋白質目標(公克)</app-td-input-formcontrol>
      <app-td-input-formcontrol [option]="viewModel.choInputOption">碳水目標(公克)</app-td-input-formcontrol>
      <app-td-input-formcontrol [option]="viewModel.fatInputOption">脂肪(公克)</app-td-input-formcontrol>
    </div>
  </div>

  <div class="calculator-bottom-container">
    <app-td-button>更新我的數據</app-td-button>
  </div> -->
</section>
