@import '../../shared//scss/shared-color.scss';

$body-width: 90%;

@mixin tdRadioButtonGroup {
  :host app-td-radio-button-group ::ng-deep {
    .mat-radio-group {
      margin-left: auto;
      width: 95%;
    }
  }
}

@mixin radioContainer {
  .calculator-radio {
    &-container {
      display: flex;
      flex-direction: column;
      margin-bottom: .75rem;
      width: 100%;
      span {
        margin-bottom: .25rem;
      }
    }
  }
  @include tdRadioButtonGroup();
}

@mixin formContainer {
  .calculator-form {
    &-container {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}

@mixin bmrBlock {
  .calculator-bmr {
    &-container {
      color: $shared-grey-dark-color;
      display: flex;
      justify-content: center;
      width: $body-width;
    }
  }
}

@mixin goalBlock {
  .calculator-goal {
    &-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: $body-width;
    }
  }
}

@mixin resultBlock {
  .calculator-result {
    &-container {
      align-items: center;
      border: 1px solid $shared-grey-dark-color;
      border-radius: 8px;
      color: $shared-grey-dark-color;
      display: flex;
      flex-direction: column;
      margin: 1.75rem 0 0;
      padding: 1.75rem 0.5rem 1rem;
      position: relative;
      width: 80%;
    }
    &-title {
      background-color: #FFFFFF;
      display: flex;
      font-size: 1.25rem;
      font-weight: 700;
      left: 12px;
      padding: 0 .5rem;
      position: absolute;
      top: -14px;
    }
    &-inner {
      &-container {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@mixin bottomBlock {
  .calculator-bottom {
    &-container {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      width: $body-width;
    }
  }
}

.calculator {
  &-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &-title {
    &-container {
      align-items: center;
      border-bottom: 1px solid $shared-grey-dark-color;
      color: $shared-grey-dark-color;
      display: flex;
      font-size: 1.5rem;
      height: 4rem;
      justify-content: center;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  &-basic-info {
    &-container {
      align-items: center;
      border: 1px solid $shared-grey-dark-color;
      border-radius: 8px;
      color: $shared-grey-dark-color;
      display: flex;
      flex-direction: column;
      margin: 1.75rem 0 1rem;
      padding: 1.75rem 0.5rem 1rem;
      position: relative;
      width: 80%;
    }
    &-title {
      background-color: #FFFFFF;
      display: flex;
      font-size: 1.25rem;
      font-weight: 700;
      left: 12px;
      padding: 0 .5rem;
      position: absolute;
      top: -14px;
    }
    &-inner {
      &-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 75%;
      }
    }
  }
}

@include radioContainer();
@include formContainer();
@include bmrBlock();
@include goalBlock();
@include resultBlock();
@include bottomBlock();
