@import '../../shared/scss/shared-color.scss';
@import '../../shared/scss/shared-mixin.scss';

:host {
  @include sharedHostBlock();
}

.fatr-asker {
  &-container {
    @include sharedContainerBlock();
    padding: .5rem 0;
    position: relative;
  }
  &-title {
    &-container {
      @include sharedTitleBlock();
    }
  }
  &-content {
    &-container {
      @include contentContainer();
      align-items: unset;
      flex-wrap: wrap;
      height: calc(100% - 96px);
      justify-content: center;
      width: 80%;
    }
  }
  &-option {
    &-container {
      align-items: center;
      display: flex;
      flex: 50%;
      flex-direction: column;
    }
    &-image {
      width: 78%;
    }
    &-text {
      color: $shared-grey-dark-color;
      margin-top: .25rem;
    }
  }
  &-bottom {
    &-container {
      display: flex;
      height: 36px;
      position: absolute;
      bottom: 1rem;
    }
  }
}
