@import '../../shared/scss/shared-color.scss';
@import '../../shared/scss/shared-mixin.scss';

@mixin selectedStyle {
  .fatr-asker {
    &-selected-icon {
      display: none;
      margin-right: .25rem;
    }
    &-unselected-icon {
      display: inherit;
      margin-right: .25rem;
    }
  }
  .selected {
    .fatr-asker {
      &-selected-icon {
        display: inherit;
      }
      &-unselected-icon {
        display: none;
      }
    }
  }
}

:host {
  @include sharedHostBlock();
}

.fatr-asker {
  &-container {
    @include sharedContainerBlock();
    padding: .5rem 0;
    position: relative;
  }
  &-title {
    &-container {
      @include sharedTitleBlock();
    }
  }
  &-content {
    &-container {
      @include contentContainer();
      align-items: unset;
      flex-wrap: wrap;
      height: calc(100% - 96px);
      justify-content: center;
      width: 80%;
    }
  }
  &-option {
    &-container {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 50%;
      flex-direction: column;
      position: relative;
    }
    &-image {
      width: 78%;
    }
    &-selected-icon {
      background-image: url('/apex/assets/images/fatr-asker/unselected-icon.svg');
      background-size: contain;
      height: 20px;
      margin-right: .25rem;
      width: 20px;
    }
    &-text {
      &-container {
        align-items: center;
        color: $shared-grey-dark-color;
        display: flex;
        margin-top: .25rem;
      }
    }
  }
  &-bottom {
    &-container {
      display: flex;
      height: 36px;
      position: absolute;
      bottom: 1rem;
    }
  }
}

@include selectedStyle();
