@import '../../shared/scss/shared-color.scss';
@import '../../shared/scss/shared-mixin.scss';

:host {
  @include sharedHostBlock();
}

.bmr-asker {
  &-container {
    @include sharedContainerBlock();
  }
  &-title {
    &-container {
      @include sharedTitleBlock();
    }
  }
  &-content {
    &-container {
      @include contentContainer();
      height: 30%;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
  &-button {
    &-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
  &-bottom {
    &-container {
      height: 200px;
      margin-top: 2rem;
      width: 100%;
    }
  }
}
