@import '../../../scss/shared-color.scss';

:host {
  .mat-radio-group {
    color: $shared-grey-dark-color;
    display: flex;
    flex-direction: column;
    .mat-radio-button {
      flex: 1;
      margin-bottom: .25rem;
    }
  }
}
