@import '../../shared/scss/shared-color.scss';
@import '../../shared/scss/shared-mixin.scss';


:host {
  @include sharedHostBlock();
}

.gender-selection {
  &-container {
    @include sharedContainerBlock();
  }
  &-title {
    @include sharedTitleBlock();
  }
  &-content {
    &-container {
      @include contentContainer();
      justify-content: space-evenly;
    }
  }
  &-item {
    align-items: center;
    border-radius: 28px;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
    color: $shared-grey-dark-color;
    display: flex;
    flex-basis: 25%;
    font-size: 4rem;
    height: 90px;
    justify-content: center;
    &.selected {
      background-color: #7BED8D;
      box-shadow: unset;
      transform: scale(.95);
    }
  }
}
