@import '../../shared/scss/shared-color.scss';


:host {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.gender-selection {
  &-container {
    align-items: center;
    border-radius: 16px;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 80%;
  }
  &-title {
    color: $shared-grey-dark-color;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  &-content {
    &-container {
      display: flex;
      justify-content: space-evenly;
      padding: 8px;
      width: 100%;
    }
  }
  &-item {
    align-items: center;
    border-radius: 28px;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
    color: $shared-grey-dark-color;
    display: flex;
    flex-basis: 25%;
    font-size: 4rem;
    height: 90px;
    justify-content: center;
    &.selected {
      background-color: #7BED8D;
      box-shadow: unset;
      transform: scale(.95);
    }
  }
}
