@import '../../shared/scss/shared-mixin.scss';
@import '../../shared/scss/shared-color.scss';

:host {
  @include sharedHostBlock();
}

.user-info {
  &-container {
    @include sharedContainerBlock();
  }
  &-title-container {
    @include sharedTitleBlock();
  }
  &-content {
    &-container {
      @include contentContainer();
      height: 40%;
      justify-content: space-evenly;
      margin-bottom: 1rem;
    }
    &-left-container {
      display: flex;
    }
    &-person-icon {
      align-items: center;
      background-color: $shared-grey-dark-color;
      border-radius: 8px;
      box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
      display: flex;
      font-size: 2rem;
      height: 100px;
      justify-content: center;
      width: 60px;
    }
  }
}
